<html>
  <head>
     <script src="handlers/shorten.js"></script>
  </head>
  <body>
    Origin URL : <input type="text" id="Origin" name="OriginURL"><br>
    Shorten URL : <input type="text" id="Shorten" name="ShortenURL"><br>
    <button class="shorten-btn", name="shorten">
        Shorten
    </button>
    <br>
    <br>
    <br>
    <br>
    <input type="submit" value="Shorten">
    <p>
        Click the "Shorten" buytton. then your URL will shorten in 8 characters under the localhost:8080.
    </p>
  </body>
</html>
